
%h2{:align => "center"}All Device
%h3{:align => "center"}= flash[:tice]
%form{:action=>'/equipment/adddv',:method=>"POST"}
 %table{:align => "center"}
  %tr
   %td
    DeviceID
   %td
    %input{:type => "text",:name => "iddv"}/
  %tr
   %td
    DeviceName
   %td
    %input{:type => "text",:name => "dvname"}/
  %tr
   %td
    Remain
   %td
    %input{:type => "text",:name => "dvremain"}/
  %tr
   %td{:colspan =>"2",:align =>"center"}
    %input{:type => "submit", :value => "save"}/
  %tr
   %td{:align =>"center"}
    =link_to'Show Devices','/equipment/devices'
   %td{:align =>"center"}
    =link_to'Show students','/equipment/students'
  %tr
   %td{:colspan =>"2",:align =>"center"}
    = link_to'Back','/equipment/logout'
