
%h2{:align => "center"}All Device
%h3{:align => "center"}= flash[:tice]
%form{:action=>'/equipment/adddv',:method=>"POST"}
 %table{:align => "center"}
  %tr
   %td
    DeviceID
   %td
    %input{:type => "text",:name => "iddv"}/
  %tr
   %td
    DeviceName
   %td
    %input{:type => "text",:name => "dvname"}/
  %tr
   %td
    Remain
   %td
    %input{:type => "text",:name => "dvremain"}/
  %tr
   %td
    %input{:type => "submit", :value => "save"}/
  %tr
   %td
    = link_to'logout','/equipment/logout'
   %td
    = link_to'Back','/equipment'