
<table align ="center" width = "80%" Border ="1">

<tr><td colspan="2" align="left"><h1>All devices</h1></td></tr>
<tr>
    <td ><h2>Type </h2></td>
    <td><h2>Remaining </h2></td>
</tr>

</table> <br>
<h3 align ="center"> Borrowing<br>
<%= link_to'Recurring' ,recurring_path %><br>
<%= link_to'Renew' ,renew_path %><br>
<%= link_to'About' ,about_path %><br>
Search<br><form>
Std ID  <input type="text"> <input type="button" value="Search"> </form>
<br>
</h3>
