%h1{:align => "center"} Recurring
%h3{:align => "center"}=flash[:os]
%h4{:align => "center"}
  Student ID
  %br/
  %form{:action=>'/equipment/recurr',:method=>"POST"}
    %input{:type => "text", :name =>"idstd"}/
    %input{:type => "submit", :value => "Search"}/

%h3{:align => "center"}= link_to 'Back', equipment_index_path