%h1{:align => "center"} Renew
%h3{:align => "center"}= link_to 'Back', equipment_index_path
%h4{:align => "center"}
  Student ID
  %br/
  %form
    %input{:type => "text"}/
    %input{:type => "button", :value => "Search"}/